# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
.gradle/
local.properties

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
debug.log

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.directory

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

# Test & coverage reports
/coverage
/.nyc_output

# Production build files
build/

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Project-specific
app-example

# Generated native folders
/ios
/android

# Temporary files
*.log
*.tmp
